# general
SSL_TRUST_STORE_PASSWORD=TOP_SECRET_PASSWORD
KAFKA_BROKERS=localhost:9092

# SFTP
SFTP_SSL_KEY_STORE_PASSWORD=CLIENT_TOP_SECRET
SFTP_REDIS_PW=topsecretRedisMetaStore
SFTP_FILE_FILTER_SUFFIX=.json.zip
SFTP_SOURCE_PATH=testDataFolder/downloaded
SFTP_KEY_PROPERTY_PATH=general.PATIENT_IDENTIFIER

